extends layout
block body
  .container
    form.formLogin(method='post')

      h3 Please, log in:
      include messages

      input.input-block-level(type='text', name='user', placeholder='User Name')
      br/
      input.input-block-level(type='password', name='pass', placeholder='Password')
      br/
      input.btn.btn-large.btn-success(type='submit', value='Log In')
