extends layout
block body
  #header.navbar.navbar-static-top
      .navbar-inner
        .container
          a.brand(href='/') Momy
          ul.nav.pull-right
            li
              a(href='/logout') Log Out
  #page.container
    .row
      #menu.span2
        script
          $(document).ready(function(){
            $("#menu li##{menu}").addClass('active');
            });
        ul.nav.nav-pills.nav-stacked
          li#dashboard: a(href='/dashboard') Dashboard
          li#sessions: a(href='/sessions') Sessions
          li#active: a(href='/active') Active
      #content.span10
        block content
